.products-page {
  .two-column-hero {
    padding-top: 8.75em;
    padding-bottom: 10.875em;
    .row {
      align-items: center;
    }
    .sub-title {
      font-size: $font-size-base * 1.75;
      line-height: 36px;
      margin-bottom: 0.9375em;
    }
    .sub-content {
      font-family: $font-family-OpenSans;
      max-width: 344px;
    }
    .featured-video {
      img {
        width: 100%;
        height: auto;
      }
    }
    @include media-breakpoint-down('md') {
      padding-top: 3em;
      padding-bottom: 2em;
      .row {
        flex-wrap: wrap-reverse;
        .featured-video {
          margin-bottom: 2em;
        }
        .sub-title, .sub-content {
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }
        .sub-title {
          font-size: $font-size-xl;
        }
      }
    }
  }
  .column-choose-products {
    background: url('../../media/primary-background.png') no-repeat;
    background-position: right;
    background-size: cover;
    padding: 6em 0;
    .section-title {
      font-size: $font-size-base * 1.75;
      margin-bottom: 3.75em;
      text-align: center;
      color: $white;
      line-height: 36px;
    }
    .product-card {
      width: 100%;
      text-align: center;
      margin-bottom: 1.5em;
      .card-image {
        text-align: center;
        margin-bottom: 2em;
        width: 225px;
        height: 53px;
      }
      .card-content {
        text-align: center;
        max-width: 286px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2.5em;
        color: $white;
        font-family: $font-family-OpenSans;
      }
      .btn {
        min-width: 152px;
      }
    }
    @include media-breakpoint-down('md') {
      padding-top: 4em;
      padding-bottom: 0;
      .section-title {
        font-size: $font-size-base * 1.625;
        margin-bottom: 4em;
      }
      .product-card {
        margin-bottom: 5em;
      }
    }
  }
  .column-best-business {
    background-color: $white;
    padding: 8.6875em 0;
    .section-title {
      text-align: center;
      font-size: $font-size-base * 1.75;
      margin-bottom: 4.375em;
    }
    .business-card {
      border-radius: 2px;
      border: 1px solid $gray-200;
      max-width: 360px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding: 2.25em 2.375em;
      background-color: $gray-100;
      .card-image {
        width: 68px;
        height: 68px;
        margin-bottom: 1em;
      }
      .card-content {
        font-size: $font-size-md;
        text-align: center;
        margin-bottom: 1.375em;
      }
      .btn {
        margin-bottom: 0.375em;
      }
    }
    @include media-breakpoint-down('md') {
      padding-top: 5em;
      padding-bottom: 2.5em;
      .section-title {
        margin-bottom: 2.5em;
      }
      .business-card {
        padding: 2.25em 1.5em;
        margin-bottom: 1.5em;
      }
    }
  }
}